@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameBody {

    display: flex;
    flex-direction: column;


    background-color: lightgrey;
    font-family: 'Poppins', sans-serif;

    height: 700px;

}

#theGameContainer {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr;

    display: none;


}

#wordDiv h2 {
    text-align: center;
}

/* #startBody {
    width: 100vw;
    height: 100vh;
}

.startPageContent {
    max-width: 40%;
    margin: auto;

} */

#setNicknameContainer {
    /* grid-area: 1 / 1 / 1 / 6; */
    margin: 20px 0 0 20px;
}

#setNicknameContainer button {
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: darkgray;
}

#setNicknameContainer button:disabled {
    display: none;
}

#setNicknameContainer input, #inputText {
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
}

#setNicknameContainer input:disabled {
    background-color: lightgrey;
    font-size: 2rem;
    color: #fffefb;
    padding: 0;
}

#setNicknameContainer input:focus, #inputText:focus {
    outline: none;
}

#whosTurn {
    grid-area: 1 / 6 / 1 / 8;
    color: #fffefb;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#waiting {
    color: #fffefb;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.forWords {
    grid-area: 1 / 3 / 1 / 6;
    margin: auto;
}

.forWords p {
    cursor: pointer;

    background-color: #fffefb;
    border-radius: 10px;
    margin: 10px;
}

#canvas {
    /* border: 1px solid black; */
    grid-area: 2 / 1 / 5 / 3;
    background-color: #fffefb;
    border-radius: 10px;
    /* margin: 10px; */
    margin: 10px;

    display: flex;
    align-items: flex-end;
    justify-content: left;

    position: relative;
}

.colorPen {
    height: 70px;
    min-width: 33.3vw;

    grid-area: 5 / 1 / 5/ 3;

    display: flex;
    justify-content: space-between;

    border-radius: 10px;
    margin: 10px;

}

#clearBtn {
    grid-area: 5 / 3 / 5 / 5;
    border: none;
    /* min-width: 100px;
    min-height: 50px; */
    border-radius: 10px;
    padding: 5px;
}


#chatDiv {
    grid-area: 2 / 4 / 6 / 6;

    background-color: #fffefb;
    border-radius: 10px;
    margin: 10px;

    position: relative;
}

#chatDiv #inputText {
    width: 90%;
    position: absolute;
    bottom: 0;
    /* left: 0; */
}

#conversation li {
    font-size: 0.8rem;
    margin: 5px;
}

#conversation li span{
    margin-right: 30px;
    margin-left: 10px;
}


#players {
    grid-area: 2 / 6 / 6 / 8;

    background-color: #fffefb;
    border-radius: 10px;
    margin: 10px;
}

#players div:first-child {
    border-radius: 10px 10px 0 0 ;
}
#players div {
    width: auto;
}

#players p {
    margin: 0;
    padding: 10px;
}

/* .inputContainer {
    margin: 10px;
} */

ul {
    margin: 2rem 0;
    padding: 0;
    list-style: none;
}

li {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

li p {
    margin: 0
}

.randomWordTag {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#chosenWord h1 {
    text-align: center;
    font-size: 3rem;
}

#colors {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-height: 50%;
    margin: 5px;
}

.theColorTags {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 100%;
    /* border: 0.5px solid black; */

    /* border-radius: 150px;
    box-shadow: 2px 2px 5px #bebebe,
        -2px -2px 5px #ffffff; */
}

#penContainer {
    margin: 5px;
    margin-top: 10px;
}

.pen {
    background-color: black;
    margin: 5px;
    width: 30px;
    margin: 5px;

    /* box-shadow: 2px 2px 5px #bebebe,
        -2px -2px 5px #ffffff; */

    display: flex;
    flex-direction: row;
}

.small-2 {
    height: 5px;
}

.medium-5 {
    height: 10px;
}

.large-9 {
    height: 15px;
}

.colorBoxFocus {
    transform: 0.8;
    border-radius: 0%;
}

.penBoxFocus {
    transform: scaleX(1.4);
}

#timer {
    margin: 5px;
    text-align: center;
    color: #fffefb;
}