@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameBody {
    background-color: lightgray;
    font-family: 'Poppins', sans-serif;
}

#theGameContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    display: none;

}

#wordDiv h2 {
    text-align: center;
}

#startBody {
    width: 100vw;
    height: 100vh;
}

.startPageContent {
    max-width: 40%;
    margin: auto;

}

#setNicknameContainer {
    grid-area: 1 / 1 / 1 / 6;
    margin: 20px;
}

#setNicknameContainer button {
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: darkgray;
}

#setNicknameContainer button:disabled {
    display: none;
}

#setNicknameContainer input, #inputText {
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
}

#setNicknameContainer input:disabled {
    background-color: lightgray;
    color: #fffefb;
}

#setNicknameContainer input:focus, #inputText:focus {
    outline: none;
}

#whosTurn {
    grid-area: 1 / 1 / 1 / 6;
    color: #fffefb;
    margin: 20px;
}

#waiting {
    color: #fffefb;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.forWords {
    grid-area: 1 / 1 / 1 / 6;
    margin: auto;
}

.forWords p {
    cursor: pointer;

    background-color: #fffefb;
    border-radius: 10px;
    margin: 10px;
}

#canvas {
    /* border: 1px solid black; */
    grid-area: 2 / 1 / 5 / 3;
    background-color: #fffefb;
    border-radius: 10px;
    margin: 10px;
}

.colorPen {
    grid-area: 5 / 1 / 5/ 3;

    display: flex;
    justify-content: space-between;

    background-color: #fffefb;
    border-radius: 10px;
    margin: 10px;
}

#chatDiv {
    grid-area: 2 / 3 / 5 / 5;

    background-color: #fffefb;
    border-radius: 10px;
    margin: 10px;
}

#conversation li {
    margin: 10px;
}

#conversation li span{
    margin-right: 30px;
}

#clearBtn {
    grid-area: 5 / 3 / 5 / 5;
    border: none;
}

#players {
    grid-area: 2 / 5 / 6 / 5;

    background-color: #fffefb;
    border-radius: 10px;
    margin: 10px;
}

#players p {
    margin: 0;
    padding: 10px;
}

.inputContainer {
    margin: 10px;
}

ul {
    margin: 2rem 0;
    padding: 0;
    list-style: none;
}

li {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

li p {
    margin: 0
}

.randomWordTag {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#chosenWord h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 3rem;
}

#colors {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-height: 50%;
    margin: 5px;
}

.theColorTags {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 100%;

    border-radius: 150px;
    box-shadow: 2px 2px 5px #bebebe,
        -2px -2px 5px #ffffff;
}

#penContainer {
    margin: 5px;
}

.pen {
    background-color: black;
    margin: 5px;
    width: 30px;
    margin: 5px;

    box-shadow: 2px 2px 5px #bebebe,
        -2px -2px 5px #ffffff;

    display: flex;
    flex-direction: row;
}

.small-2 {
    height: 5px;
}

.medium-5 {
    height: 10px;
}

.large-9 {
    height: 15px;
}

.colorBoxFocus {
    transform: 0.8;
    border-radius: 0%;
}

.penBoxFocus {
    transform: scaleX(1.4);
}

#timer {
    margin: 5px;
    text-align: center;
    color: #fffefb;
}