@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameBody {

    display: flex;
    flex-direction: column;


    background-color: lightgrey;
    background-color: #2E933C;
    font-family: 'Poppins', sans-serif;

    height: 700px;

}

header {
    display: flex;
    /* justify-content: center; */
    margin: 10px 0 0 20px;
}

header img {
    margin-left: 10px;
    text-shadow: 1px 1px #242424;

}

#head {
    display: inline-block;
    border-bottom: 5px solid #F75C03;
    color: #F75C03;
    text-shadow: 1px 1px #242423;
    box-shadow: 0 0.5px #242424;
    text-align: center;
    max-width: 300px;
    padding: 0 30px 0 0;

}

#theGameContainer {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr;

    display: none;


}

#wordDiv h2 {
    text-align: center;
}

#setNicknameContainer {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#setNicknameContainer img {
    margin-right: 10px;
    margin-bottom: 15px;
}


#setNicknameContainer button {
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    background-color: #F75C03;
    color: white;
    font-weight: bold;

    margin-left: 10px;
    box-shadow: 2px 2px 12px #20672a,
        -2px -2px 12px #3cbf4e;
}

#setNicknameContainer button:disabled {
    display: none;
}

#setNicknameContainer input,
#inputText {
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #242423;

    /* box-shadow: inset 4px 4px 7px #b3b3b3,
        inset -4px -4px 7px #ffffff; */
}

#setNicknameContainer input:disabled {

    background-color: #2E933C;
    padding: 0;
    text-align: center;
    margin-top: 40%;

    font-size: 2rem;
    font-weight: bold;
    color: #F75C03;
    text-shadow: 1px 1px #242423;

    box-shadow: none;

    display: none;
}

#setNicknameContainer input:focus,
#inputText:focus {
    outline: none;
}

/* #inputText:disabled {
    display: none;
} */

#whosTurn {
    grid-area: 1 / 5 / 1 / 8;
    color: #fffefb;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    font-size: 1rem;
    font-weight: bold;
    color: #F75C03;
    text-shadow: 1px 1px #242423;
}

#yourGuess {
    grid-area: 1 / 2 / 1 / 5;
    color: #fffefb;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    font-size: 1rem;
    font-weight: bold;
    color: #F75C03;
    text-shadow: 1px 1px #242423;

    text-align: center;
}

#waiting {
    color: #fffefb;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    margin-bottom: 40%;
}

.forWords {
    /* grid-area: 1 / 1 / 1 / 3; */
    margin: auto;
}

.forWords p {
    cursor: pointer;

    background-color: #fffefb;
    border-radius: 10px;
    margin: 10px;
}

#canvas {
    grid-area: 2 / 1 / 5 / 4;
    background-color: #fffefb;
    border-radius: 10px;
    margin: 10px;

    display: flex;
    align-items: flex-end;
    justify-content: left;

    position: relative;

    box-shadow: 5px 5px 10px #2b8a38,
        -5px -5px 10px #319c40;

}

#colorPen {
    /* height: 70px; */
    /* grid-area: 6 / 1 / 6/ 2; */
    grid-area: 5 / 1 / 5 / 2;

    max-height: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border-radius: 10px;
    margin: 10px;

}

#clearBtn {
    /* grid-area: 5 / 1 / 5 / 2; */
    margin: 10px;
    border: none;
    max-height: 50%;

    border-radius: 10px;
    padding: 5px 10px;
    background-color: #F75C03;
    color: white;
    font-size: 2rem;
}


#chatDiv {
    grid-area: 2 / 2 / 5 / 5;

    background-color: #fffefb;
    border-radius: 10px;
    margin: 10px;

    position: relative;

    /* overflow-y: scroll; */

    box-shadow: 5px 5px 10px #2b8a38,
        -5px -5px 10px #319c40;
}

#conversation {
    overflow-y: scroll;
    height: 95%;
    margin-bottom: 10px;
}

#conversation::-webkit-scrollbar {
    display: none;
}

#chatDiv #inputText {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(239, 239, 239);
    border-radius: 0 0 10px 10px;

}

#conversation li {
    font-size: 0.8rem;
    margin: 5px;
}

#conversation li span {
    margin-right: 30px;
    margin-left: 10px;
}


#players {
    grid-area: 2 / 5 / 5 / 8;

    background-color: #fffefb;
    border-radius: 10px;
    margin: 10px;

    box-shadow: 5px 5px 10px #2b8a38,
        -5px -5px 10px #319c40;

}

#players div:first-child {
    border-radius: 10px 10px 0 0;
}

#players div {
    width: auto;
}

#players p {
    margin: 0;
    padding: 10px;
}

/* .inputContainer {
    margin: 10px;
} */

ul {
    margin: 2rem 0;
    padding: 0;
    list-style: none;
}

li {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

li p {
    margin: 0
}

.randomWordTag {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#chosenWord h1 {
    text-align: center;
    font-size: 3rem;
}

#colors {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* max-height: 50%; */
    margin: 5px;

    display: flex;
}

.theColorTags {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 100%;
    /* border: 0.5px solid black; */

    box-shadow: 5px 5px 6px #277b32,
        -5px -5px 6px #35ab46;
}

#penContainer {
    margin: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.pen {
    background-color: black;
    margin: 5px;
    width: 30px;
    margin: 5px;
}

.small-2 {
    height: 5px;
}

.medium-5 {
    height: 10px;
}

.large-9 {
    height: 15px;
}

.colorBoxFocus {
    transform: 0.8;
    border-radius: 0%;
}

.penBoxFocus {
    transform: scaleX(1.4);
}

#timer {
    margin: 5px;
    text-align: center;
    /* color: #fffefb; */

    font-size: 1rem;
    font-weight: bold;
    color: #F75C03;
    text-shadow: 1px 1px #242423;
}